<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <!-- Writes Logback notifications (like mail errors) to the console -->
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

    <!-- Instead of class="ch.qos.logback.classic.net.SMTPAppender"> -->
    <appender name="EMAIL" class="nl.brightbits.logback.throttle.ThrottledSMTPAppender">

        <!-- For example you can configure that only error messages are mailed -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>

        <!-- How to connect to your mail server -->
        <SMTPHost>localhost</SMTPHost>
	<SMTPPort>4929</SMTPPort>
        <Username>test</Username>
        <Password>test</Password>
        <To>developers.app.xyz@test.no</To>
        <From>app.xyz@test.no</From>
        
        <!-- If there are muzzled messages on which level should these be logged? -->
        <!-- Defaults to ERROR when omitted -->
        <logMuzzledMessagesOnLevel>ERROR</logMuzzledMessagesOnLevel>

        <!-- Define the duration in which 'maxMessagesPerTimeWindow' are allowed to be mailed -->        `
        <!-- Defaults to 60 when omitted -->
        <timeWindowDurationSeconds>10</timeWindowDurationSeconds>
        
        <!-- How many messages (per location) may be mailed within the 'timeWindowDurationSeconds' -->
        <!-- Defaults to 10 when omitted -->
        <maxMessagesPerTimeWindow>20</maxMessagesPerTimeWindow>

        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%date{ISO8601} %-5level [%thread] %class.%method\(%file:%line\) - %msg %n</Pattern>
        </layout>

        <cyclicBufferTracker class="ch.qos.logback.core.spi.CyclicBufferTrackerImpl">
            <!-- send just one log entry per email -->
            <bufferSize>1</bufferSize>
        </cyclicBufferTracker>
        
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date{ISO8601} %-5level [%thread] %class.%method\(%file:%line\) - %msg %n</pattern>
        </encoder>
    </appender>
    
    <root>
		<level value="WARN" />
		<appender-ref ref="EMAIL" />
        <!-- <appender-ref ref="STDOUT" /> -->
	</root>
	
    <logger name="nl.brightbits.logback">
        <level value="ALL" />
    </logger>

</configuration>
